<!DOCTYPE html>
<html lang="ja">

<head>
    {{template "pc__meta"}}
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/pc_articles.css">
    <title>{{.Global.Title}}</title>
</head>

<body>
    <div class="base-header">
        {{template "pc__header" .}}
    </div>
    <div class="base-content-with-footer">
        <div class="articles">
            {{range .Articles}}
            <div class="article">
                <div class="article-title">
                    <a href="/articles/{{.ID}}">
                        {{.Title}}
                    </a>
                </div>
                <div class="article-created-at">
                    {{.PublishedAtAsTime.Format "2006/01/02 15:04:05"}}
                </div>
                <div class="article-tags">
                    {{range .Tags}}
                    <a>{{.Name}}</a>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
        <div class="paging">
            {{if gt .PrevPublishedAt 0}}
                <a href="/articles?cursor_title={{.PrevTitle}}&cursor_published_at={{.PrevPublishedAt}}&order=asc">前へ</a>
            {{else}}
                <a class="disabled">前へ</a>
            {{end}}
            {{if gt .NextPublishedAt 0}}
                <a href="/articles?cursor_title={{.NextTitle}}&cursor_published_at={{.NextPublishedAt}}&order=desc">次へ</a>
            {{else}}
                <a class="disabled">次へ</a>
            {{end}}
        </div>
        <div class="base-footer">
            {{template "pc__footer"}}
        </div>
    </div>
</body>

</html>