<!DOCTYPE html>
<html lang="ja">

<head>
    {{template "pc__common_head" .}}
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>{{._Global.Title}}</title>
</head>

<body>
    <div class="_base-header">
        {{template "pc__header" .}}
    </div>
    <div class="_base-content">
        <div class="_base-left">
        </div>
        <div class="_base-center">
            Hello world!
        </div>
        <div class="_base-right">
        </div>
    </div>
    <div class="_base-footer">
        {{template "pc__footer"}}
    </div>
</body>

</html>