<!DOCTYPE html>
<html lang="ja">

<head>
    {{template "pc__meta"}}
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/pc_article.css">
    <title>{{.Global.Title}}</title>
</head>

<body>
    <div class="base-header">
        {{template "pc__header" .}}
    </div>
    <div class="base-content-with-footer">
        <div class="article">
            <div class="article-title">
                <a href="/articles/{{.ID}}">
                    {{.Article.Title}}
                </a>
            </div>
            <div class="article-created-at">
                {{.Article.PublishedAtAsTime.Format "2006/01/02 15:04:05"}}
            </div>
            <div class="article-tags">
                {{range .Article.Tags}}
                <a>{{.Name}}</a>
                {{end}}
            </div>
        </div>
        <div class="content">
            {{.Content}}
        </div>
    </div>
</body>

</html>