<!DOCTYPE html>
<html lang="ja">

<head>
    {{template "pc__common_head" .}}
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/pc_top.css">
    <title>{{._Global.Title}}</title>
</head>

<body>
    <div class="_base-header">
        {{template "pc__header" .}}
    </div>
    <div class="_base-content">
        <div class="_base-left">
        </div>
        <div class="_base-center">
            <div class="articles">
                <div class="title _font-title">
                    新着記事
                </div>
                {{range .Articles}}
                <div class="article">
                    {{template "pc__article_header" .}}
                </div>
                <div class="padding">
                </div>
                {{end}}
            </div>
        </div>
        <div class="_base-right">
        </div>
    </div>
    <div class="_base-footer">
        {{template "pc__footer"}}
    </div>
</body>

</html>